@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.h_banner
{
    background-image: url(../../Images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 120vh;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.h_b_content
{
 margin-left: 30px;
 margin-top: -130px;
}
.hb_h2, .hp_h2, .about_h2
{
    color: burlywood;
    font-family: 'Great Vibes', cursive;
    font-size: 59px;
}
.hb_h1, .hp_h1, .about_h1
{
    font-size: 65px;
    margin-bottom: 10px;
}
.hb_h3
{
    margin-left: 8px;
    margin: 2px 0;
}
.h_b_content button{
    margin: 20px 0;
    background-color: black;
    color: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.h_img{
  margin-left: 160px;
 }
 .img_h{
    width: 340px;
    margin: 0 10px;
    border-radius: 6px;
 }
 .img_h:hover{
  transform: scale(1.1);
  transition: all 1s;
  /* overflow: hidden; */
  cursor: pointer;
 }
.hp_banner{
  background-image: url(../../Images/hbg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 48vh;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.hp_banner1{
  background-image: url(../../Images/hbg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 48vh;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.hp_content, .about_content
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* about */

.about_banner
{
  background-image: url(../../Images/about.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 50vh;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.about_banner1
{
  background-image: url(../../Images/about1.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: black;
  background-position: center center;
  height: 50vh;
  margin-bottom: 10px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
}


.btn_about_h1{

}





@media screen and (max-width:600px) {
  .h_banner{
    width: 100vw;
    height: 48vh;
  }   
  .h_b_content {
    margin-left: 30px;
    margin-top: 0px;
  }
  .hb_h2 {
    font-size: 35px;
   }
   .hb_h1 {
    font-size: 26px;
    margin-bottom: 10px;
    margin-left: 3px;
   }
   .h_b_content button {
    padding: 10px 20px;
    font-size: 10px;
   }
   .hb_h3 {
    font-size: 12px;
    margin-left: 6px;
   }
   .h_img{
    width: 180px;
    margin-left: 90px;
   }
   .img_h{
    width: 160px;
   }
   .hp_banner{
    height: 40vh;
    max-width: 767px;
   }
   .about_banner, .about_banner1{
    height: 40vh;
    max-width: 767px;
   }
   .hp_h2{
    font-size: 50px;   
   }
   .hp_h1{
    font-size: 50px;   
   }
   .about_h1{
    font-size: 40px;   
   }
   .about_h2
   {
   
   }
}