.nav_ul li {
    margin: 0 20px;
}
.nav_ul li a {
    text-decoration: none;
    font-size: larger;
    color: aliceblue;

}
.nav_ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.active{
    font-weight: bold;
    /* padding: 0 24px;
    padding-top: 3px;
    padding-bottom: 6px;
    border-radius: 8px; */
}
.mobile_nav_ul li {
    margin: 20px 20px;
}
.mobile_nav_ul li a {
    text-decoration: none;
    font-size: larger;
    /* color: aliceblue; */
    color: midnightblue;


}
.mobile_nav_ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
}

.css-15th2q6-MuiSvgIcon-root
{
    color: floralwhite;
}

.footer_navlink {
    text-decoration: none;
    color: white;
}